@import url('https://cdn.jsdelivr.net/gh/ngarces/FE15-Text-Simulator/FOT-ChiaroStd-B.otf');
@font-face {
    font-family: fot-chiaro_stdb;
    src: url('https://cdn.jsdelivr.net/gh/ngarces/FE15-Text-Simulator/FOT-ChiaroStd-B.otf') format("opentype");
}
body{
  background-color: #111;
}
.faq{
  color: lightgray;
  font-family: 'fot-chiaro_stdb';
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  margin-right: 30px;
  margin-bottom: -10px;
  width: 40px;
}
.rectangle {
    height: 120px;
    width: 420px;
    background-color: #555;
    border-radius: 20px;
    margin: auto;
  margin-top: 5%;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#usedfor{
  border-radius: 10px;
  background-color: #222;
  padding-left: 5px;
  padding-right: 5px;
}
#infowindow{
  color: white;
  border: none;
  background-color: #0A0A0A;
  font-family: 'fot-chiaro_stdb';
  font-size: 24px;
  border-radius: 5px;
  width: 50%;
  height: 75%;
  box-shadow: 3px 3px 5px black;
}
textarea{
  width: 480px;
  height: 150px;
  padding: 8px 8px 8px 8px;
  font-size: 12px;
  font-family: Monospace;
  border-radius: 20px;
  background-color: #333;
  color: #AAA;
  resize: none;
  border-bottom: 3px;
  float: left;
}
textarea:focus{
  outline: none;
  border: 1px solid gray;
  box-shadow: 5px 5px 15px black;
}
.red{
  color: red;
}
.ico{
  width: 64px;
  height: 64px;
  float:left;
  margin-top: 20px;
  margin-left: -35px;
  padding-right: 16px;
  padding-bottom: 40px;
}
#output {
  vertical-align: top;
  text-align: center;
  line-height: 28px;
  font-size: 20px;
  font-family: 'fot-chiaro_stdb', Arial;
  color: white;
  text-align: left;
  padding-top: 20px;
  padding-left: 50px;
  white-space: pre-wrap;
  word-spacing: 5px;
  padding-left: 64px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-top: 14px;
}
#arrow{
  margin-left:-24px;
}
.boxbreak{
  display: inline-block;
  overflow: visible;
  width: 400px;
  height: 90px;
  background-color: rgb(85 85 85 / 20%);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 10px;
  padding-left: 52px;
  padding-bottom: 24px;
  text-align: center;
  font-size: 18px;
  font-family: 'fot-chiaro_stdb', Arial;
  text-align: left;
  white-space: pre-wrap;
}