@import url('https://cdn.jsdelivr.net/gh/ngarces/FE15-Text-Simulator/FOT-ChiaroStd-B.otf');
@font-face {
    font-family: fot-chiaro_stdb;
    src: url('https://cdn.jsdelivr.net/gh/ngarces/FE15-Text-Simulator/FOT-ChiaroStd-B.otf') format("opentype");
}

.rectangle {
    height: 120px;
    width: 460px;
    background-color: #555;
    border-radius: 20px;
    margin: auto;
}
textarea{
  width: 400px;
  height: 150px;
  font-size: 12px;
  font-family: Monospace;
  border-radius: 20px;
  background-color: #EEE;
  resize: none;
}
.red{
  color: red;
}
#output {
  text-align: center;
  line-height: 28px;
  font-size: 20px;
  font-family: 'fot-chiaro_stdb', Arial;
  color: white;
  text-align: left;
  padding-top: 20px;
  padding-left: 50px;
  white-space: pre-wrap;
  word-spacing: 5px;
  padding-left: 64px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-top: 14px;
}
#arrow{
  margin-left:-24px;
}
.boxbreak{
  background-color: #555;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  padding-top: 30px;
  padding-left: 24px;
  padding-bottom: 24px;
  text-align: center;
  font-size: 24px;
  font-family: 'fot-chiaro_stdb', Arial;
  text-align: left;
  white-space: pre-wrap;
}